extends base
block login
    .forms
        form(class='forms',action='/auth/login',method='POST')
            .column
                .input-field.col.s6
                    i.material-icons.prefix account_circle
                    input#icon_prefix.validate(type='email',name='email')
                    label(for='icon_prefix') Email
                .input-field.col.s6
                    i.material-icons.prefix lock
                    input#icon_telephone.validate(type='password',name='password')
                    label(for='icon_telephone') Password
            button.btn.waves-effect.waves-light(type='submit' name='action')
                | Login
                i.material-icons.right send

