html,body {
  /*padding: 5px;*/
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(32, 33, 36);
}

a {
  color: #00B7FF;
}
.heading{
  font-size: 18px;
  margin-left: 10px;
}
#card{
  width: 275px;
  overflow: hidden;
  color: white;
  background-color: #292a2d;
  text-overflow: ellipsis;
}
.card-bottom-area{
  display: flex;

  justify-content: space-evenly;
  width: 100%;
  padding-top: 5px;
  align-items: center;
}
#toast-container {
  top: auto !important;
  bottom: 50%;

}
.menu-color{
  background-color: #292a2d;
}
#loader{
  display: none;
}
@media screen and (min-width: 1000px){
  #menu{
    padding-left: 40px;
    padding-right: 20px;
  }
}
.input-color{
  color: white;
}
.form{
  color: white  ;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: #292a2d;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

#author{
  align-self: flex-end;
}
.btns{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.post{
  padding-left:10%;
  padding-right: 10%;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 780px) {
  .right-section{
    padding-left: 5%;
    padding-right: 5%;
  }
}
.right-section{
  display: flex;
  flex: 1;
  justify-content: center;
  height: 100px;
}
.header-items{
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.videoContainer{
  display: flex;
  width: 100%;
  justify-content: center;
}
.video{
  width: 50%;
  height: 50%;
}
.addComment{
  display: flex;
  justify-content: center;
  align-items: center;
}
.comments{
  width: 100%;
  padding-bottom: 20px;
}
.iconstyle{
  display: flex;
  padding: 1px;
  align-items: center;
  justify-content: center;
}
.titles{
  display: flex;
  align-self: center;
  flex-direction: column;
}
.details{
  display: flex;
  justify-content: space-evenly;
}
@media screen and (min-width: 780px) {
  .main{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-left:5%;
    padding-right:5%;
  }
}

.posts{
  padding:10px;
}
.forms{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#posts{
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}